# Ville Lehtola 2019
# Here we list all files that we do NOT want to add into 
# the Mapping library source repository.
*.laser
*.pts
*.a
*.o
*.dll
*.bin
*.exe
*.gz
*.objpts
*.top
*.pdf
# Also, ignore images
*.jpg
*.png

#Shayan 2020
#directories
out/
cmake-build-debug/
/cmake-build-debug/
data/
images/
.DS_Store
DS_Store/
.idea
.idea/
Debug/
Release/
#Foreign/
Foreign/OpenCV

# log files
*.log
**/log
log/



