#cmake

#directories
out/
cmake-build-debug/
/cmake-build-debug/
data/
out/
images/
.DS_Store
DS_Store/
.idea
.idea/
Debug/
Release/

# log files
*.log
**/log
log/


#data
*.png
*.jpg
*.PNG
*.JPG


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
